<div class="grid">
  <div class="col-12">
    <div class="card">
      <p-messages></p-messages>
      <h3 *ngIf="type == 4">List invoices</h3>
      <h3 *ngIf="type < 4">List orders</h3>
      <div class="mb-2">
        <p-button [icon]="contentVisible ? 'pi pi-times' : 'pi pi-plus'" styleClass="p-button-info p-button-rounded" (click)="addRow()" *ngIf="!isEditing"></p-button>
      </div>
      <div class="grid" *ngIf="contentVisible">
        <div class="col-12">
          <div class="card">
            <!-- form -->
            <form action="" method="post" [formGroup]="invoiceForm">
              <div class="grid">
                <!-- <div class="col-12" *ngIf="isEditing">
                  <b>ID: </b>{{ invoiceId }} - <b>AccID: </b>{{ idAcc }}
                </div> -->
                <div class="col-12" *ngIf="isEditing">
                  Remain money: {{ owned }}
                </div>
                <div class="col-12 md:col-6 lg:col-4" *ngIf="type == 4">
                  <div>Account id</div>
                  <input type="text" class="mt-1 w-full" pInputText formControlName="idacc" />
                </div>
                <!-- <div class="col-12 md:col-6 lg:col-4" *ngIf="isEditing">
                  <div>Total</div>
                  <input type="number" class="mt-1 w-full" pInputText formControlName="total" />
                </div> -->
                <div class="col-12 md:col-6 lg:col-4" *ngIf="isEditing && type == 4">
                  <div>Paid</div>
                  <input type="number" class="mt-1 w-full" pInputText formControlName="paid" />
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div>Expect date</div>
                  <p-calendar [style]="{'width':'100%', 'margin-top': '0.25rem'}" dateFormat="dd-mm-yy" formControlName="expectdate"></p-calendar>
                </div>
                <!-- <div class="col-12 md:col-6 lg:col-4">
                  <div>Completed date</div>
                  <p-calendar [style]="{'width':'100%'}" dateFormat="dd-mm-yy" formControlName="completeddate"></p-calendar>
                </div> -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div>Description</div>
                  <input type="text" class="mt-1 w-full" pInputText formControlName="description" />
                </div>
                <div class="col-12 md:col-6 lg:col-4" *ngIf="type == 4">
                  <div>Status</div>
                  <p-dropdown [options]="deliveryOptions" autoWidth="false" [style]="{'width':'100%'}" formControlName="status" optionLabel="label" optionValue="value"></p-dropdown>
                </div>
                <div class="col-12 flex justify-content-end">
                  <p-button
                    label="Create"
                    *ngIf="!isEditing"
                    class="mr-2"
                    styleClass="p-button-outlined p-button-success"
                    (click)="addInvoice()"
                  ></p-button>
                  <p-button
                    label="Update"
                    *ngIf="isEditing"
                    class="mr-2"
                    styleClass="p-button-outlined p-button-success"
                    (click)="updateInvoice()"
                  ></p-button>
                  <p-button
                    label="Cancel"
                    styleClass="p-button-outlined p-button-success"
                    (click)="cancelEditing()"
                  ></p-button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- table -->
      <p-table [value]="invoices" dataKey="id" class="mt-1">
        <ng-template pTemplate="header">
          <tr>
            <th [ngStyle]="{'width':'200px'}">Action</th>
            <th>No.</th>
            <th *ngIf="type == 4">Account ID</th>
            <th>Total</th>
            <th>Paid</th>
            <th>Owned</th>
            <th>Status</th>
            <th>Description</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invoice let-expanded="expanded">
          <tr>
            <td [ngStyle]="{'width':'200px'}">
              <p-button class="mr-1" icon="pi pi-pencil" styleClass="p-button-info" (click)="editRow(invoice)" [disabled]="invoice.status == 4"></p-button>
              <p-button class="mr-1" [icon]="expanded ? 'pi pi-eye-slash' : 'pi pi-eye'" styleClass="p-button-success" [pRowToggler]="invoice"></p-button>
              <p-button icon="pi pi-list" styleClass="p-button-info" (click)="viewInvoiceDetail(invoice)" [disabled]="invoice.status == 4"></p-button>
            </td>
            <td>{{ invoice.id }}</td>
            <td *ngIf="type == 4">{{ invoice.idacc }}</td>
            <td>{{ invoice.total }}</td>
            <td>{{ invoice.paid }}</td>
            <td>{{ invoice.owned }}</td>
            <td>
              <p-tag
                [value]="getDeliveryStatusName(invoice.status)"
                [severity]="getDeliveryStatusVariant(invoice)"
              ></p-tag>
            </td>
            <td>{{ invoice.description }}</td>
          </tr>
        </ng-template>
        <!-- table expand -->
        <ng-template pTemplate="rowexpansion" let-invoice>
          <tr>
            <td colspan="12">
              <div class="grid">
                <div class="col-6">
                  <div class="p-3 pt-0">
                    <b>Created: </b>{{ invoice.created }}
                  </div>
                  <div class="p-3 pt-0">
                    <b>Expected Date: </b>{{ invoice.expectdate }}
                  </div>
                  <div class="p-3 pt-0 pb-0">
                    <b>Completed Date: </b>{{ invoice.completeddate }}
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>