<div class="grid">
  <div class="col-12 xl:col-4">
    <div class="card">
      <div class="flex align-items-center justify-content-center mb-4">
        <h5 style="text-transform: uppercase">Laundry by pieces</h5>
      </div>

      <ul class="p-0 mx-0 mt-0 mb-4 list-none">
        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
          <span class="text-900 line-height-3">
            Price: $3 per piece of cloth
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-12 xl:col-4">
    <div class="card">
      <div class="flex align-items-center justify-content-center mb-4">
        <h5 style="text-transform: uppercase">Laundry by weight</h5>
      </div>

      <ul class="p-0 mx-0 mt-0 mb-4 list-none">
        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
          <span class="text-900 line-height-3">
            Price: $3 per kg of cloth
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-12 xl:col-4">
    <div class="card">
      <div class="flex align-items-center justify-content-center mb-4">
        <h5 style="text-transform: uppercase">Laundry by package</h5>
      </div>

      <ul class="p-0 mx-0 mt-0 mb-4 list-none">
        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
          <span class="text-900 line-height-3">
            Price: $20 per month. Unlimited cloth
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
