<div class="grid" *ngIf="type < 4">
  <div class="col-12 xl:col-4">
    <div class="card">
      <div class="flex align-items-center justify-content-center mb-4">
        <h5 style="text-transform: uppercase">Laundry by pieces</h5>
      </div>

      <ul class="p-0 mx-0 mt-0 mb-4 list-none">
        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
          <span class="text-900 line-height-3">
            Price: $3 per piece of cloth
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-12 xl:col-4">
    <div class="card">
      <div class="flex align-items-center justify-content-center mb-4">
        <h5 style="text-transform: uppercase">Laundry by weight</h5>
      </div>

      <ul class="p-0 mx-0 mt-0 mb-4 list-none">
        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
          <span class="text-900 line-height-3">
            Price: $3 per kg of cloth
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-12 xl:col-4">
    <div class="card">
      <div class="flex align-items-center justify-content-center mb-4">
        <h5 style="text-transform: uppercase">Laundry by package</h5>
      </div>

      <ul class="p-0 mx-0 mt-0 mb-4 list-none">
        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
          <span class="text-900 line-height-3">
            Price: $20 per month. Unlimited cloth
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="grid" *ngIf="type == 4">
  <div class="col-12">
    <div class="card">
      <h3>Laundry Service List</h3>
      <div class="mb-2">
        <p-button
          [icon]="contentVisible ? 'pi pi-times' : 'pi pi-plus'"
          styleClass="p-button-info p-button-rounded"
          (click)="addRow()"
          *ngIf="!isEditing"
        ></p-button>
      </div>
      <div class="grid" *ngIf="contentVisible">
        <div class="col-12">
          <div class="card">
            <!-- form -->
            <form action="" method="post" [formGroup]="serviceForm">
              <div class="grid">
                <div class="col-12 md:col-6 lg:col-4">
                  <div>Service Name</div>
                  <input
                    type="text"
                    class="mt-1 w-full"
                    pInputText
                    formControlName="servicename"
                  />
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div>Unit</div>
                  <input
                    type="text"
                    class="mt-1 w-full"
                    pInputText
                    formControlName="unit"
                  />
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div>Price</div>
                  <input
                    type="text"
                    class="mt-1 w-full"
                    pInputText
                    formControlName="price"
                  />
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <span class="p-float-label">
                    <textarea
                      id="float-input"
                      class="mt-1 w-full"
                      pInputTextarea
                      formControlName="description"
                    ></textarea>
                    <label for="float-input">Description</label>
                  </span>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div>New photo</div>
                  <p-fileUpload [customUpload]="true" [showUploadButton]="false" [showCancelButton]="false" [multiple]="false" (onSelect)="selectFile($event)"></p-fileUpload>
                </div>
                <div class="col-12 md:col-6 lg:col-4" *ngIf="isEditing">
                  <div class="text-center">Old photo</div>
                  <div class="flex justify-content-center">
                    <img src="{{editPhoto}}" height="100" >
                  </div>
                </div>
                <div class="col-12 flex justify-content-end">
                  <p-button
                    [label]="isEditing ? 'Update' : 'Create'"
                    class="mr-2"
                    styleClass="p-button-outlined p-button-success"
                    (click)="isEditing ? updateService() : addService()"
                  ></p-button>
                  <p-button
                    label="Cancel"
                    styleClass="p-button-outlined p-button-success"
                    (click)="cancelEditing()"
                  ></p-button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- table -->
      <p-table [value]="services" dataKey="id" class="mt-1">
        <ng-template pTemplate="header">
          <tr>
            <th [ngStyle]="{ width: '100px' }">Action</th>
            <th>No.</th>
            <th>Service</th>
            <th>Photo</th>
            <th>Unit</th>
            <th>Price</th>
            <th>Description</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-service let-expanded="expanded">
          <tr>
            <td [ngStyle]="{ width: '200px' }">
              <p-button
                class="mr-1"
                icon="pi pi-pencil"
                styleClass="p-button-info"
                (click)="editRow(service)"
              ></p-button>
              <p-button
                class="mr-1"
                icon="pi pi-trash"
                styleClass="p-button-danger"
                (click)="deleteRow(service.id)"
              ></p-button>
            </td>
            <td>{{ service.id }}</td>
            <td>{{ service.servicename }}</td>
            <td><img src="{{ service.photo }}" width="120" height="100" /></td>
            <td>{{ service.unit }}</td>
            <td>{{ service.price }}</td>
            <td>{{ service.description }}</td>
          </tr>
        </ng-template>
        <!-- table expand -->
      </p-table>
    </div>
  </div>
</div>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
<p-toast> </p-toast>