<div class="layout-topbar flex justify-content-between" [style]="{background: topbarStyle}">
  <div class="flex flex-row align-items-center">
    <button
      #menubutton
      class="p-link layout-menu-button layout-topbar-button"
      (click)="layoutService.onMenuToggle()"
    >
      <i class="pi pi-bars"></i>
    </button>

    <button
      #topbarmenubutton
      class="p-link layout-topbar-menu-button layout-topbar-button"
      (click)="layoutService.showProfileSidebar()"
    >
      <i class="pi pi-ellipsis-v"></i>
    </button>

    <a class="layout-topbar-logo" routerLink="/dashboard">
      <!-- <img src="assets/layout/images/logo.png" alt="logo" /> -->
      <img src="assets/layout/images/{{type == 4 ? 'admin_logo.png' : 'logo.png'}}" alt="logo">

    </a>
  </div>

  <div>
    <h3 class="m-0" *ngIf="type == 4">Admin Management</h3>
    <h3 class="m-0" *ngIf="type < 4">Laundry Project</h3>
  </div>

  <!-- <div
    #topbarmenu
    class="layout-topbar-menu"
    [ngClass]="{
      'layout-topbar-menu-mobile-active':
        layoutService.state.profileSidebarVisible
    }"
  >
    <button class="p-link layout-topbar-button">
      <i class="pi pi-calendar"></i>
      <span>Calendar</span>
    </button>
    <button class="p-link layout-topbar-button" (click)="showDialog()">
      <i class="pi pi-user"></i>
      <span>Profile</span>
    </button>
    <p-dialog header="Profile" [(visible)]="contentVisible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
      <form action="" method="post" [formGroup]="updateAccountForm" (ngSubmit)="save()" *ngIf="account != null">
          <div class="grid">
            <div class="col-8">
              <div class="grid">
                <div class="col-6">
                  <div>Fullname</div>
                  <input class="mt-1 w-full" type="text" pInputText formControlName="fullname" />
                </div>
                <div class="col-6">
                  <div>Phone</div>
                  <input class="mt-1 w-full" type="text" pInputText formControlName="phone" />
                </div>
                <div class="col-6">
                  <div>Email</div>
                  <input class="mt-1 w-full" type="text" pInputText formControlName="email" />
                </div>
                <div class="col-6">
                  <div>DOB</div>
                  <input class="mt-1 w-full" type="text" pInputText formControlName="dob" />
                </div>
                <div class="col-6">
                  <div>Security code</div>
                  <input class="mt-1 w-full" type="text" pInputText formControlName="securitycode" />
                </div>
                <div class="col-6">
                  <div>Type</div>
                  <input class="mt-1 w-full" type="text" pInputText formControlName="type" />
                </div>
                <div class="col-12">
                  <div>Address</div>
                  <textarea rows="3" class="w-full" pInputTextarea formControlName="address"></textarea>
                </div>
              </div>
            </div>
            <div class="col-4 flex align-items-center">
              <img src="assets/layout/images/{{account.photo}}" width="100%">
            </div>
          </div>
      </form>
      <div class="grid">
        <div class="col-12 flex justify-content-end">
          <p-button
            label="Update"
            class="mr-2"
            styleClass="p-button-outlined p-button-success"
            (click)="save()"
          ></p-button>
        </div>
      </div>
    </p-dialog>
    <button class="p-link layout-topbar-button">
      <i class="pi pi-cog"></i>
      <span>Settings</span>
    </button>
  </div> -->
  <div>
    <p-menubar [model]="items" class="px-8" [style]="{ background: topbarStyle, border: 0 }"></p-menubar>
    <p-dialog header="Profile" class="mx-1 px-6" [(visible)]="contentVisible" [modal]="true" [style]="{ width: '50vw', display: contentVisible }" [draggable]="false" [resizable]="false">
      <form action="" method="post" [formGroup]="updateAccountForm" (ngSubmit)="save()" *ngIf="account != null">
          <div class="grid">
            <div class="col-8">
              <div class="grid">
                <div class="col-6">
                  <div>Fullname</div>
                  <input class="mt-1 w-full" type="text" pInputText formControlName="fullname" />
                </div>
                <div class="col-6">
                  <div>Phone</div>
                  <input class="mt-1 w-full" type="text" pInputText formControlName="phone" />
                </div>
                <div class="col-6">
                  <div>Email</div>
                  <input class="mt-1 w-full" type="text" pInputText formControlName="email" />
                </div>
                <div class="col-6">
                  <div>DOB</div>
                  <p-calendar [style]="{'width':'100%', 'margin-top': '0.25rem'}" dateFormat="dd-mm-yy" formControlName="dob"></p-calendar>
                </div>
                <div class="col-12">
                  <div>Address</div>
                  <textarea rows="1" class="w-full" pInputTextarea formControlName="address"></textarea>
                </div>
                <div class="col-12">
                  <div>Photo</div>
                  <p-fileUpload [customUpload]="true" [showUploadButton]="false" [showCancelButton]="false" [multiple]="false" (onSelect)="selectFile($event)"></p-fileUpload>
                </div>
              </div>
            </div>
            <div class="col-4 flex align-items-center">
              <img src="{{account.photo}}" width="100%">
            </div>
          </div>
      </form>
      <div class="grid">
        <div class="col-12 flex justify-content-end">
          <p-button
            label="Update"
            class="mr-2"
            styleClass="p-button-outlined p-button-success"
            (click)="save()"
          ></p-button>
        </div>
      </div>
    </p-dialog>
    <p-messages></p-messages>
  </div>
</div>
